commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks"
    ignoreErrors: true
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/djabbama"
    ignoreErrors: true
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/djabbama/post"
    ignoreErrors: true
  create_post_dir:
    command: "mkdir -p /var/app/current/tmp/uploads/"
    ignoreErrors: true  
  create_post_dir:
    command: "chmod 755 /var/app/current/tmp/uploads/"
    ignoreErrors: true
