packages:
  yum:
    mod24_ssl : []
    php73-imap.x86_64 : []

option_settings:
  - namespace: aws:elbv2:loadbalancer
    option_name: IdleTimeout
    value: 1200
files:
  "/etc/nginx/sites-available/000-default.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      map $http_upgrade $connection_upgrade {
        default   "upgrade";
        ""        "";
      }
  
      server {
        listen         80;
        server_name    hello-dev.sygalin-tvsat.com;
        gzip                 on;
        gzip_min_length      1000;
        gunzip               on;
  
        location = /status.html {
          gzip_static on;
          proxy_pass          http://docker;
          proxy_http_version  1.1;
  
          proxy_set_header    Connection          $connection_upgrade;
          proxy_set_header    Upgrade             $http_upgrade;
          proxy_set_header    Host                $host;
          proxy_set_header    X-Real-IP           $remote_addr;
          proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
          proxy_set_header    X-Forwarded-Host    $host;
          proxy_set_header    X-Forwarded-Server  $host;
        }
  
        location / {
          gzip_static on;
          return        301 https://$host$request_uri;
        }
      }
  
      server {
        listen 443;
        gzip                 on;
        gzip_min_length      1000;
        gunzip               on;
        ssl                  on;
        ssl_session_timeout  5m;
        ssl_protocols        TLSv1 TLSv1.1 TLSv1.2;
        ssl_certificate      /opt/ssl/default-ssl.crt;
        ssl_certificate_key  /opt/ssl/default-ssl.pem;
        ssl_session_cache    shared:SSL:10m;
  
        location / {
          gzip_static on;
          proxy_pass          http://docker;
          proxy_http_version  1.1;
  
          proxy_set_header    Connection          $connection_upgrade;
          proxy_set_header    Upgrade             $http_upgrade;
          proxy_set_header    Host                $host;
          proxy_set_header    X-Real-IP           $remote_addr;
          proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
          proxy_set_header    X-Forwarded-Host    $host;
          proxy_set_header    X-Forwarded-Server  $host;
        }
      }
  
  "/opt/ssl/default-ssl.crt":
    mode: "000400"
    owner: root
    group: root
    content: |
              -----BEGIN CERTIFICATE-----
              MIIEejCCA2KgAwIBAgIFALh+kdkwDQYJKoZIhvcNAQELBQAwcTELMAkGA1UEBhMC
              Q00xETAPBgNVBAgMCEFkYW1hb3VhMRMwEQYDVQQHDApuZ2FvdW5kZXJlMRQwEgYD
              VQQKDAtTWUdBTElOIFNBUzEkMCIGA1UEAwwbaGVsbG8tZGV2LnN5Z2FsaW4tdHZz
              YXQuY29tMB4XDTIwMTIwMTE1NTYzNloXDTIxMTIwMTE1NTYzNlowcTELMAkGA1UE
              BhMCQ00xETAPBgNVBAgMCEFkYW1hb3VhMRMwEQYDVQQHDApuZ2FvdW5kZXJlMRQw
              EgYDVQQKDAtTWUdBTElOIFNBUzEkMCIGA1UEAwwbaGVsbG8tZGV2LnN5Z2FsaW4t
              dHZzYXQuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsmSvnNXo
              ra+w972XaBQKD3RT3pXPNQRvoNSfq0G2eeE4GkLUMA/WrFx4lhw7pNL+7TrelBt7
              B5ii7xu5CVnD/VS1AqEVx/Zs9HGwOmu1H1293DUT+KuNAxxQmuB0WQQtt4pMGkYV
              1lqQ11JVjqbM22e0FMd8KFqmD/hwzyBYnTr7jFrO8yzHdaU4WGTkcoHei5h1BBtw
              Aph0hf1+5Ncf0yyNxgXldcnnWIfmTw/JjvCXXQHE/NYdH4QaP+Vb+op8M9QT5yFk
              nwZPVMA9upY98h4S9eX6Lrw2o3VnGJTX1S015i3jwOVeLY8VkTaOD7pSUuYSl9qO
              e1smsnoJuCD51wIDAQABo4IBFzCCARMwHQYDVR0OBBYEFKJj1RN5ZjEv+K/Fkgoo
              MRol+3n7MAkGA1UdEwQCMAAwgZ8GA1UdIwSBlzCBlIAUomPVE3lmMS/4r8WSCigx
              GiX7efuhdaRzMHExCzAJBgNVBAYTAkNNMREwDwYDVQQIDAhBZGFtYW91YTETMBEG
              A1UEBwwKbmdhb3VuZGVyZTEUMBIGA1UECgwLU1lHQUxJTiBTQVMxJDAiBgNVBAMM
              G2hlbGxvLWRldi5zeWdhbGluLXR2c2F0LmNvbYIFALh+kdkwHQYDVR0lBBYwFAYI
              KwYBBQUHAwEGCCsGAQUFBwMCMCYGA1UdEQQfMB2CG2hlbGxvLWRldi5zeWdhbGlu
              LXR2c2F0LmNvbTANBgkqhkiG9w0BAQsFAAOCAQEAc9JRdkVxtqA5INeUfMl9UGsn
              wgSq12N8BlpDdcF6/Vo781mPiNAmy6nBxzt9tFKDaj0IY7E+T8QbuIKo3AHvwTZ+
              HQ3AoKtB8PjAoRQh3y4x23WNAkk+zAu+4yG/MVJC40vgTb9LmjYCNb4hT5mfcATm
              1Igdu8gea5JnCW4rMWgLc1NV/f1VXtntk+1zKIiwc1BNI9ZLyLfuTTQK4R+npe9c
              69juRyFqSOuewH2wa0VDRQXJMeKMVkhJBQsR/tX6H2pHg1Nv8gb3bfez3VyEatsI
              uevxNJc+fWFe6vYurIemtPZHij/brsM5fc3vjFMVTAAqPPT1zoB49AArIO5JtA==
              -----END CERTIFICATE-----
  
  
  "/opt/ssl/default-ssl.pem":
    mode: "000400"
    owner: root
    group: root
    content: |
              -----BEGIN RSA PRIVATE KEY-----
              MIIEpQIBAAKCAQEAsmSvnNXora+w972XaBQKD3RT3pXPNQRvoNSfq0G2eeE4GkLU
              MA/WrFx4lhw7pNL+7TrelBt7B5ii7xu5CVnD/VS1AqEVx/Zs9HGwOmu1H1293DUT
              +KuNAxxQmuB0WQQtt4pMGkYV1lqQ11JVjqbM22e0FMd8KFqmD/hwzyBYnTr7jFrO
              8yzHdaU4WGTkcoHei5h1BBtwAph0hf1+5Ncf0yyNxgXldcnnWIfmTw/JjvCXXQHE
              /NYdH4QaP+Vb+op8M9QT5yFknwZPVMA9upY98h4S9eX6Lrw2o3VnGJTX1S015i3j
              wOVeLY8VkTaOD7pSUuYSl9qOe1smsnoJuCD51wIDAQABAoIBAQCftvtvTCh0kE69
              jzWmDgLv0TNhnfiUu/MBKDwHxN6NgjGLeXelzBhj2qpvorlXmTx5wnISYgQlSefe
              cZCZqY+KGLOytevdSmhD9iFUPKg9e90G8VJ/GYA3X7te3kPsiowvvhbikwrsDcuN
              q/5DqFzStqcIz4z+SCJTPBgrqQcNRIlyp48yNGPq5WwpDCU+7MlRynGiX6ma7ksw
              g/GD7jlvYLqepAADAIieiqwyfU6hvYrPtNffiCwwTj3ig3LWEchgRDwrKYvVW3tL
              CuwycEB84mneg8Km0veagCLq3vfF8gZh1mrJWdZvbp3TUaluD0j34T548jGhM+B6
              2z41wjwhAoGBAN+cuKm8LGxk7+KgFvKf+XRneO+rTrPIFRhFVSHv/bJe007bYXx+
              5QlgUngb0a11AqFTM5RpGO1bMrhROMFj+XKveyc2ZzToa78NdyIBkhrR8ICJD5d7
              80qYvD3M5pNtAlRVSCQjqi/rZwB5r9dCHDxkokv5t/YB0bj89bD2zILnAoGBAMw7
              TRfngTHwL1eM5CCJcqV+OY2bWzSO14o1hK/EXUAJhzXM9TpJ80wWYLDgBS472MxM
              9Cm1RMKDzNMVd/46fJuK5d/RVVbyKpIig1y8BTO9TcNtLwl1hESioJCuf8s98FG8
              QymNuOgEXOm8pHiPxeOsI1A/jP51YqkA7JipCOORAoGAOEDt981eA5rU+lc5zqnO
              EKmjM/ANqY6xN9zhUNtWIFRYpmLsQGyP4+72cD7XXeKs2bbbp/9UhQnHVbUhKQ2k
              iGR6/99g0V+TE4ooqUZp4hNkhIF2ia5mAyMvYAC3FOl8h4i40Fakjs+Spvz17po0
              DkFmzuQwklPc1cPVb0J3KosCgYEAg+PsBnrv2SMmP6DyFf0Nd8iLPGLOxKNWmJ+1
              P5lNKzS8B8eDuo/VOhbdfHw/fDsT5+Pubhzs+b0KAmtD4X89x2ksyJy0QwEC8vqs
              4K9foKko1gLltHMa5wQrMyQtzUADuZUdvnESr2tZ4Wx8vosCneQlrgZMdGu0OjYp
              lPDcl7ECgYEAyfkmeQHyeaDhyQ1bmQZRERsSbjIdT21+KM/wYqiiVaJQkEt/26GY
              vKYvmRuOTbP90msfJhgKiEENFstkto2CuUkKiqIz9ds8H5T0Oo5jUHHA5U7wtIqC
              IZjno5Ebz5KEYN5AFDcgl0NlLv7xGrkvXfBLdYSg1NxhA/jF2F2RImM=
              -----END RSA PRIVATE KEY-----
