packages:
  yum:
    mod24_ssl : []
    php73-imap.x86_64 : []

option_settings:
  - namespace: aws:elbv2:loadbalancer
    option_name: IdleTimeout
    value: 1200
files:
  "/etc/nginx/sites-available/000-default.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      map $http_upgrade $connection_upgrade {
        default   "upgrade";
        ""        "";
      }
  
      server {
        listen         80;
        server_name    sygalin-tvsat.com;
        gzip                 on;
        gzip_min_length      1000;
        gunzip               on;
  
        location = /status.html {
          gzip_static on;
          proxy_pass          http://docker;
          proxy_http_version  1.1;
  
          proxy_set_header    Connection          $connection_upgrade;
          proxy_set_header    Upgrade             $http_upgrade;
          proxy_set_header    Host                $host;
          proxy_set_header    X-Real-IP           $remote_addr;
          proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
          proxy_set_header    X-Forwarded-Host    $host;
          proxy_set_header    X-Forwarded-Server  $host;
        }
  
        location / {
          gzip_static on;
          return        301 https://$host$request_uri;
        }
      }
  
      server {
        listen 443;
        gzip                 on;
        gzip_min_length      1000;
        gunzip               on;
        ssl                  on;
        ssl_session_timeout  5m;
        ssl_protocols        TLSv1 TLSv1.1 TLSv1.2;
        ssl_certificate      /opt/ssl/default-ssl.crt;
        ssl_certificate_key  /opt/ssl/default-ssl.pem;
        ssl_session_cache    shared:SSL:10m;
  
        location / {
          gzip_static on;
          proxy_pass          http://docker;
          proxy_http_version  1.1;
  
          proxy_set_header    Connection          $connection_upgrade;
          proxy_set_header    Upgrade             $http_upgrade;
          proxy_set_header    Host                $host;
          proxy_set_header    X-Real-IP           $remote_addr;
          proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
          proxy_set_header    X-Forwarded-Host    $host;
          proxy_set_header    X-Forwarded-Server  $host;
        }
      }
  
  "/opt/ssl/default-ssl.crt":
    mode: "000400"
    owner: root
    group: root
    content: |
              -----BEGIN CERTIFICATE-----
              MIIGgDCCBWigAwIBAgISBPenRQpeR20lMdmC75xa5uisMA0GCSqGSIb3DQEBCwUA
              MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
              ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0yMDA5MTIxNjUwNDdaFw0y
              MDEyMTExNjUwNDdaMCMxITAfBgNVBAMTGGNwYW5lbC5zeWdhbGluLXR2c2F0LmNv
              bTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOwh1VwC2A0Zkp0cCchO
              wE77JjFeWvSsWQQuAHcsgflZGOmxgHWd7nH5XXeAZBAJzYyY0Cp7+A+QqIno43HN
              dw1PJiC22dWWCxLUEHAOnQmYsCnj8nC6kRDNgm8vRgf6ZBsQnEspVsOMorVvPLrX
              B4Bd1aggMbnS8TLwsZY5NzhkAy+/O7qPs/sL8eMPHevWHI+z5CGtZ9gvf65o96cc
              UvbsAzDlty6EshukUbBqXWl1kBEoke/LsBYRrUJAlQ6zFXSypqnf3ulYXZZ+5Gck
              Okr5H19JBW2iGRFLmNOQNugwUmJ/YCqMYgCso07nSIczEwCOInCOo3IUbe0mch+8
              6O8CAwEAAaOCA4UwggOBMA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEF
              BQcDAQYIKwYBBQUHAwIwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQU5V7p3bxW+wh0
              G1wyB1E7FniI0eMwHwYDVR0jBBgwFoAUqEpqYwR93brm0Tm3pkVl7/Oo7KEwbwYI
              KwYBBQUHAQEEYzBhMC4GCCsGAQUFBzABhiJodHRwOi8vb2NzcC5pbnQteDMubGV0
              c2VuY3J5cHQub3JnMC8GCCsGAQUFBzAChiNodHRwOi8vY2VydC5pbnQteDMubGV0
              c2VuY3J5cHQub3JnLzCCAToGA1UdEQSCATEwggEtgh5hdXRvZGlzY292ZXIuc3ln
              YWxpbi10dnNhdC5jb22CGGNwYW5lbC5zeWdhbGluLXR2c2F0LmNvbYIdY3BjYWxl
              bmRhcnMuc3lnYWxpbi10dnNhdC5jb22CHGNwY29udGFjdHMuc3lnYWxpbi10dnNh
              dC5jb22CFm1haWwuc3lnYWxpbi10dnNhdC5jb22CEXN5Z2FsaW4tdHZzYXQuY29t
              ghtzeWdhbGluLXR2c2F0Lmdyb3VwZWxpbi5jb22CGXdlYmRpc2suc3lnYWxpbi10
              dnNhdC5jb22CGXdlYm1haWwuc3lnYWxpbi10dnNhdC5jb22CFXd3dy5zeWdhbGlu
              LXR2c2F0LmNvbYIfd3d3LnN5Z2FsaW4tdHZzYXQuZ3JvdXBlbGluLmNvbTBMBgNV
              HSAERTBDMAgGBmeBDAECATA3BgsrBgEEAYLfEwEBATAoMCYGCCsGAQUFBwIBFhpo
              dHRwOi8vY3BzLmxldHNlbmNyeXB0Lm9yZzCCAQMGCisGAQQB1nkCBAIEgfQEgfEA
              7wB2APCVpFnyANGCQBAtL5OIjq1L/h1H45nh0DSmsKiqjrJzAAABdINw44IAAAQD
              AEcwRQIhAOHngV/OMvffEgY1BsBSoznGfSjUgsHGchgV2W7tCrJyAiAuWVHK+TwR
              nLI8nIISKRFy74aRVT6fejUyk2sRaNGUegB1AAe3XBvlfWj/8bDGHSMVx7rmV3xX
              lLdq7rxhOhpp06IcAAABdINw46MAAAQDAEYwRAIgcojkHMX+2CnMedZvaSL6ShQN
              AnDz4w47N5hl+n7sJ8UCIBW7qBgwBZWBCAxZbLnlxoWN1xfAkeDIGTvaCpJ0M8cP
              MA0GCSqGSIb3DQEBCwUAA4IBAQBsUSs5V6lgnkutqKRN8ybet4glMXy6w3NRV3LY
              xXCok7jjtGVc+61Wj2upXjs1+NG2DCdaZqE9ecIDlQ2JZrDmTNdeZaZ8LfnnhWi+
              Z3rTLW3J5AqQtsTnGp8Zr3f06tlFb4HoDBETRYwbD6B5/WmvEjhh1ZlQfd0jyyLd
              ER5eXTswr8QhT7JdOBKL6pjX9cNnod8rhFcuzJqv+IuaBSfivINyWP5Dhhq0ryDE
              v+RWlvnW6ved4Z7rxpdE1efCMIk4aFnTmnfx/yjyV+R68ssXDzHJFGypYleJEr+R
              FpTvWtYxfA9aqZy4V99YHq+WwstRWO72jHy3kRzv8sIjk45C
              -----END CERTIFICATE-----
  
  
  "/opt/ssl/default-ssl.pem":
    mode: "000400"
    owner: root
    group: root
    content: |
              -----BEGIN RSA PRIVATE KEY-----
              MIIEowIBAAKCAQEA7CHVXALYDRmSnRwJyE7ATvsmMV5a9KxZBC4AdyyB+VkY6bGA
              dZ3ucfldd4BkEAnNjJjQKnv4D5Coiejjcc13DU8mILbZ1ZYLEtQQcA6dCZiwKePy
              cLqREM2Cby9GB/pkGxCcSylWw4yitW88utcHgF3VqCAxudLxMvCxljk3OGQDL787
              uo+z+wvx4w8d69Ycj7PkIa1n2C9/rmj3pxxS9uwDMOW3LoSyG6RRsGpdaXWQESiR
              78uwFhGtQkCVDrMVdLKmqd/e6Vhdln7kZyQ6SvkfX0kFbaIZEUuY05A26DBSYn9g
              KoxiAKyjTudIhzMTAI4icI6jchRt7SZyH7zo7wIDAQABAoIBABXcD/djoAKecm8u
              8Ezl1XG6WE/Lr1nlNpxncc2WhjXCJMdFkmHRDAjrD9cHQLwnXCr+3o6ASXePabrS
              n3OilLnbsOjoZIQcTswga6EkCS+hPfWyz3fWHaXTkJagZrhIWsoSoJVor0qNE2b+
              dD3LuDsO9L+Ks2/DcmbH13jTtSP4GLFS+hnIPDatfxIenJ9t4XP+x61Q5R65mdLL
              bMCtGCEuSJDClBSG3p6b9ARhkv/U+hjqllFK9y5TVfBE54Ez5fP2WQt1Xk2fEZhq
              lDjSqtlcM55eU0J2M6HUG1b/UlbojqpVU4QA9xcHQD9EzwI2Ix3IIddiKgMDsn3p
              StZY80kCgYEA/2mtYbfAeNeirY7rk+JyBghG5kFhpJmWZOmhgSuQUJAcWGg3GXdz
              cWQ37tibpEpNIpaC6lyqyzu0bva3A6FPB/B1yGMmRiwMfN0UyAyg/JvbMYSjfghI
              RwdoQutc/qu05obWWdzAnOakvAeGe7OxvrJbUlrjYmQsooPBRkd57dsCgYEA7KzO
              /vwAeStbLympT0yAs5X5Lc5hhGOoUGHnl7p3grTa/Hj4ADHmi3d5Gkt7ii7l2J4w
              YisP/uriEEbGom11Td7caLpSu+5P1cZyDwuHApv1QOm2dwh1iferrDFBNuBU32TW
              j1dFCSnML2lCPSZUKpPaTXfF8nqSM2XcIYWm330CgYAzW5KLhaFkKygA8i4YjH4V
              DHEFN7xklqWRIRFiodng+TlZ5Yq+yjAiat58Xn3daTtdaxpj+cI2H4lGjsF6L2Nu
              20EzzAwULCNOsD3PhAqTANvwdxVQ8GVoMusaGa2XX/t+JzrO0v7ADfit/m1iTl29
              VKvcQX5beH0pKIkikpjH5QKBgQCp/QiDjb5NST2p5zNq+FisI/if1M6nxuhaK6eq
              i8xQvdNXaQ8/HJgo7bu2jiaCPmLprdy0dZd8kXmjFSKQASwyrPID6meIAYen1GuR
              sMbcseV6JSLf5dx+JrxP5eSgJInxFb0hoR29kh7Mor5nq0LifeVapL8xBKZDclKk
              ZRlRBQKBgCgaKKPGNIsek4iyyoN8vImKKHJqkw0Y4ncTYDzBEcas49kfQOhifo25
              geuCTUrhBgIOMiPINOqXk+hO17vFRbtpZLSRLOBgLTYSb8X2cbxTU+NFiaYWgSS3
              EWjev7kX7yafAhBbxidpCdb77KvCqn/1GX5SAbVSTwdsWxStP9Z3
              -----END RSA PRIVATE KEY-----
